<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='img/Arow.gif') }}" rel="icon" type="image/x-icon"/>
    </head>
    <body>
        <canvas id="matrix"></canvas>
        <!-- Sidebar -->
        <div id="Side">
            <button id="Menu" class="menuButton" onclick="openMenu()">
                <img src="/static/icons/menu.png" class="menuIcon"
                     onerror="this.parentElement.innerHTML='☰'">
            </button>
            <ul id="Sidebar">
                <button class="SideButton SideItem" onclick="window.location.href='/';"> Downloader </button>
                <button class="SideButton SideItem" onclick="window.location.href='/settings';"> Settings </button>
                <button class="SideButton SideItem"> Repositories </button>
            </ul>
            <div id="NavClock"></div>
        </div>

        <!-- Main Window -->
        <div id="Main">
            <div id="MainWindow">
                <div class="window-header" id="window-header">
                    <span id="MainWindowTitle">FlashDash</span>
                </div>
                <div class="window-content">
                    <h1> <img src="{{url_for('static', filename='img/Arow.gif')}}" id="icon"> Downloader</h1>
                    <div id="forms">
                        <input type="text" name="download_link" placeholder="Past Download link here" autofocus id="Downloadlink">
                        <input type="text" name="download_path" placeholder="Download Path :3" id="Downloadpath">
                    </div>
                    <div id="quickoptions">
                        <button id="purge-btn"> Clear </button>
                        <button></button>
                        <button></button>
                        <button></button>
                        <button></button>
                    </div>
                    <pre id="status" style="display: none;"> {{ output }} </pre>
                    <div id="download-list">
                        <table role="grid">
                            <thead>
                                <tr id="headertr">
                                    <th class="th-head">File Name</th>
                                    <th class="th-head">Status</th>
                                    <th class="th-head">Progress</th>
                                    <th class="th-head">Speed</th>
                                    <th class="th-head">Size</th>
                                    <th class="th-head">ETA</th>
                                </tr>
                            </thead>
                            <tbody id="download-tbody">
                                <tr>
                                    <td colspan="6" style="text-align: center;">Awaiting status :3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Animated background -->
        
        <script src="{{ url_for('static', filename='js/init.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bg.js')}}"></script>
        <script src="{{ url_for('static', filename='js/downloadmanager.js')}}"></script>
        <script src="{{ url_for('static', filename='js/menu.js')}}"></script>

    </body>
</html>