<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='css/repo.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='img/Arow.gif') }}" rel="icon" type="image/x-icon"/>
    </head>
    <body>
        <canvas id="matrix"></canvas>
        <div id="Side">
            <button id="Menu" class="menuButton" onclick="openMenu()">
                <img src="/static/icons/menu.png" class="menuIcon"
                     onerror="this.parentElement.innerHTML='☰'">
            </button>
            <ul id="Sidebar">
                <button class="SideButton SideItem" onclick="window.location.href='/';"> Downloader </button>
                <button class="SideButton SideItem" onclick="window.location.href='/settings';"> Settings </button>
                <button class="SideButton SideItem" onclick="window.location.href='/repo';"> Repositories </button>
            </ul>
            <div id="NavClock"></div>
        </div>
        <div id="Main">
            <div id="MainWindow">
                <div class="window-header" id="window-header">
                    <span id="MainWindowTitle">FlashDash</span>
                </div>
                <div class="window-content">
                    <div id="repo-manager">
                        <div id="add-repo">
                            <input id="repo-input" type="text" placeholder="Paste Repo Url here!">
                            <button id="repo-submit"> Add </button>
                        </div>
                        <div id="repos"></div>
                    </div>
                    <div id="repo-browser" style="display: none;">
                        <div>
                            <button onclick="closeBrowser()" id="backButton">⬅ Back to Repositories</button>
                        </div>
                        <iframe id="repo-iframe" src="about:blank"></iframe>
                    </div>

                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/init.js')}}"></script>
        <script src="{{ url_for('static', filename='js/repo.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bg.js')}}"></script>
        <script src="{{ url_for('static', filename='js/menu.js')}}"></script>
    </body>
</html>